.bmiHesaplamalar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  width: 90%;
  height: 80%;
  margin: 7rem auto;
  background: rgba(250, 250, 250, 0.26);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 1rem;

  & > .title {
    text-align: center;
    font-size: 3.5rem;
    background: linear-gradient(
      to left,
      rgb(210, 53, 216),
      rgb(69, 168, 84),
      rgb(62, 148, 240),
      rgb(34, 82, 118)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;

    @media only screen and (max-width: 700px) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 390px) {
      font-size: 2rem;
    }
  }

  .result {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));

    @media only screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }

    &-list {
      background-color: rgba(250, 250, 250, 0.5);
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.26);
      padding: 1rem 2rem;
      border-radius: 1rem;

      .listItem {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > *:not(:last-child) {
          margin-bottom: 1rem;
          background-color: rgba(250, 250, 250, 0.26);
        }

        @media only screen and (max-width: 1150px) {
          font-size: 1.5rem;
        }

        @media only screen and (max-width: 450px) {
          font-size: 1.3rem;
        }

        @media only screen and (max-width: 350px) {
          font-size: 1.1rem;
        }

        .header,
        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 3rem;
          padding: 1rem;
        }

        .date,
        .length,
        .weight {
          color: rgba(119, 118, 118, 0.884);

          font-size: 1.4rem;
        }

        .hour {
          font-size: 1.3rem;
        }
      }
    }
  }

  .btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 4rem;
    margin-top: 2rem;
    outline: none;
    border: none;
    background-color: rgba(250, 250, 250, 0.26);
    transition: all 0.4s ease;
    border-radius: 1rem;
    font-size: 1.8rem;

    &:hover {
      background-color: rgba(250, 250, 250, 0.7);
    }
  }
}
